html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
   border-radius: 10px;
   padding: 5px;
   margin: 30px;
   color: black;
   border: solid black;
   font-family: Georgia;
   display: inline-block;
   margin-top: 15px;
   transition: 0.3s;
 }

header img{
        width: 300px;
        height: 300px;
}

header{
   text-align: center;
   background-color: white;      
}

main h1{
       text-align: center;
       color: seashell;
       font-family: Tahoma;
}

footer h2 {
        font-family: Arial;  
}

.contacts{
       text-align: center;
       font-family: sans-serif;
       font-size: 14px;
       border: 2px solid red;
       background-color: seashell;
       color: teal;
}

body {
background-color: sandybrown;
}

nav a:hover {
         font-size: 20px;
          transform: scale(1.1);
}
